<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <p>Question:</p>
    <p>{{ question.question }}</p>
    <form method="POST">
        <ul>
            {% for option in question.options %}
                <li>
                    <input type="radio" name="answer" value="{{ option }}">
                    {{ option }}
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit Answer">
    </form>
    {% if options_missing %}
    <p>Answers are not available for this question.</p>
    {% else %}
    <p>Correct Answer: {{ question.correctAnswer }}</p>
    <p>Your Score: {{ score }}</p>
    <a href="{{ url_for('end_quiz') }}">End Quiz</a>
    {% endif %}
</body>
</html>
